/* html{
    width-max: 1024px;;
} */

body {
    font-family:"Neue Plak",
        sans-serif ;
    background-color: #eeedf2;
    color: #6f7287;
    display: block;

}

#header-container {
    display: flex;
    justify-content: space-around;
    padding: 20px 20px;
    text-align: center;
    height: 80px;
    /* border: 2px solid blue */
}

#header-nav-links {
    display: flex;
    justify-content: center;
    gap: 35px;

    color: #f05537;
    cursor: pointer;
    text-align: center;


}

.title {
    color: #f05537;
    font-size: 40px;
    font-weight: 800;
    font-style: normal;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;


}

.nav-links {
    display: flex;
    /* padding-top: 15px; */
    justify-content: center;
    align-items: center;
}

.search-bar {
    display: flex;
    padding-top: 15px;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
}

.search-bar {
    display: flex;
    gap: 8px;
    border: 2px solid lightgrey;
    background-color: #FFF;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 150px;
    text-align: center;
    align-items: center;
    height: 45px;
    box-shadow: 3px 3px 10px;
    cursor: text;
}


.heading{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 10px;
}

#categories-bottons-container{
   
    height:60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#categories-links{
   display: flex;
   justify-content: center;
   align-items: center;
  justify-content: space-between;
    gap: 10px;
 
}

.cat-links{
    display: flex;
    border: 1px solid gray;
    padding: 8px 80px;
   
    box-shadow: 2px 2px 10px;
   
}

.fas{
    margin-right: 4px;
}



img{
    width: 450px;
    height: 200px;
}